ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: right;
    padding: 14px 16px;
  }
  
  li a:hover {
    background-color: grey;
  }
  
  body {
    background-image: url("https://as1.ftcdn.net/v2/jpg/02/23/14/14/1000_F_223141404_cEq89FlgcYo4DBFWLnUn5jeXnZKxzDLS.jpg");
    background-size: 1600px 1000px;
    background-repeat: no-repeat;
    background-color: pink;
  }
  
  nav {
    background-color: black;
    padding: 10px 30px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: inline-block;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
  }
  
  nav a:hover {
    background-color: skyblue;
  }
  
  h2 {
    text-align: center;
    font-size: 80px;
    color: black;
    text-decoration: underline;
  }