body {
    font-family: Arial, sans-serif;
}

.signup-container {
    width: 300px;
    padding: 16px;
    background-color: white;
    margin: 0 auto;
    margin-top: 100px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 24px;
}

label {
    display: block;
    margin-bottom: 4px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 8px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

body {
    background-image: url("https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80.gif");
    background-repeat: no-repeat;
    background-size: 1600px 980px;
}